
.signUp-container{
    padding: 40px;
    margin: 0px auto;
    margin-top: 9rem;
    border-radius: 20px;
    width: 60%;
    box-shadow: 2px 3px 3px rgba(0,3,0,0.6);
    margin-bottom: 200px;
}
.signUp-container h1{
    font-size: 60px;
    text-align: center;
    color : brown;
    padding: 6px;
}
label{
    display: block;
    color: green;
    font-size: 20px;
    display: block;
    margin: 10px;
    padding: 15px;
    margin-left: 0px;
}
.inputDiv{
    width: 100%;
}
input{
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    color: #999ee9;
    font-size: 15px;
    border: none;
    outline: none;
    list-style: none;
    border-bottom: 2px solid brown;
    
}
.divBtn button{
    margin-top: 20px;
}
.divBtn p{
    color: brown;
    margin-top: 20px;
}
.divBtn p:hover{
    color: blue;
}
.form-wrapper{
    text-align: center;
    padding: 6vh;
}
.link-class{
    display: flex;
    width: 100%;
}
.link-class p{
    margin: 10px;
    color: brown;
}
.link-class p:hover{
    color: blue;
}

.btn:hover{
    background-color: red;
    opacity: 0.7;
    color: #fff;
    border-radius: 10px;
}

@media screen and (max-width : 890px) {
    .input{
     max-width: 100%;
    }
}