
video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position:fixed;
    z-index: -1;
}

/* =====  hero-container  ===== */
.hero-container{
    background-image: url("/images/img-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain   ;
}

/* =====   hero-container  items     ===== */
.hero-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 90px;
    color: #fff;
    margin: 10rem;
}
.hero-container p{
    display: flex;
    margin-top: -100px;
    font-size: 32px;
    justify-content: center;
    color: #fff;
    width: 80%;
    height: 100px;
    align-items: center;
    text-align: center;
}

.hero-btn{
    margin-top: 80px;
    margin-right: 10px;
}
.hero-btn .btn{
    margin: 6px;
}
.far-fa-circle{
    margin-left: 4px;
}

@media screen and (max-width :740px) {
    .hero-container h1{
    font-size: 40px;
    color: #fff;
    margin: 10rem;
  }
  .hero-container p{
    margin-top: -100px;
    font-size: 30px;
  }
  .btn-mobile{
    display: block;
    text-decoration: none;
  }
  .btn{
    width: 100%;
  }
}